@import "_vars";
@import "_global";
@import "_fonts";

.header__top {
  background-color: #eef1f3;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  font-family: "Quicksand", sans-serif;
  span {
    color: #0674ec;
  }
}
.header__btn {
  background-color: $button;
  a {
    font-size: 14px;
    color: #fff;
  }
  padding: 10px 22px 9px;
  border-radius: 18px;
  margin-left: auto;
}
.header__avatar {
  background-color: #7c7979;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 22px;
}
.header__personal-name {
  a {
    font-weight: 500;
  }
}
.header__personal-cash {
  color: $button;
}
.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  height: 80px;
}
.menu__list {
  li {
    display: inline-block;
    text-transform: uppercase;
    & + li {
      margin-left: 26px;
    }
  }
  a {
    font-size: 15px;
    font-weight: 500;
  }
}
.header__menu-search {
  max-width: 360px;
  width: 100%;
  position: relative;
  input {
    display: block;
    width: 100%;
    border: 1px solid #dae0e6;
    border-radius: 23px;
    height: 44px;
    padding-left: 25px;
    padding-right: 70px;
    font-size: 15px;
    outline: none;
    &:focus {
        border: 1px solid #777a7e;
    }
    &::placeholder {
        color: #898f96;
    }
  }
  button {
      position: absolute;
      border: none;
      width: 70px;
      border-radius: 23px;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $button;
  }
}
